




/*** Basic Reset ****/

* {

	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:after,&:before {

		padding: 0;
		margin: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

	}

}

ul { list-style: none;}
a { text-decoration: none;}
/*** Variables ****/

$bgcolor: #fbfcfc;
$fcolor: #292929;


body {

	font-family: 'Open Sans',verdana,sans-serif;
	font-size: 16px;
	background: $bgcolor;

}


/*** Structure - Layout ****/

.frame {
	
	
	margin: 200px auto;
	margin-bottom: 0;
	width: 90%;
	max-width: 1110px;
	text-align: center;
	
	


	h1 {

		font: 700 7em 'Ubuntu',sans-serif;
		color: $fcolor;		
	
	}

	h2 {

		font: 700 2.6em 'Ubuntu',sans-serif;
		color: lighten($fcolor, 20%);
	}

	.link {
		
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		margin: 30px 0;


		a {

			font-size: 1.5em;
			color: $fcolor;
			margin: 0 15px;
		}
	}
}

.fa-github-alt:hover { color: #333; }
.fa-twitter:hover { color: #55acee; }
.fa-dribbble:hover { color: #ea4c89; }
.fa-external-link:hover { color: lightblue; }


@media only screen and (min-width: 768px) and (max-width: 959px) {

			.frame {

		margin-top: 200px;
		margin-bottom: 0;
	

		h1 {

			font-size: 6em;
		}

		h2 { font-size: 3.2em;
			margin-top: 20px;
		}

	}

	

}

@media only screen and (min-width: 481px) and (max-width: 767px) {

		.frame {

		margin-top: 50px;
		margin-bottom: 0;
	

		h1 {

			font-size: 4em;
		}

		h2 { font-size: 2.1em;
			margin-top: 10px;
		}

	}


} 


@media only screen and  (max-width: 480px) {

	.frame {

		margin-top: 80px;
		margin-bottom: 0;
	

		h1 {

			font-size: 2.4em;
		}

		h2 { font-size: 1.5em;
			margin-top: 10px;
		}

	}
}